WebContent/wsdl/EmployeeWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.unir_tfm_rfam" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.unir_tfm_rfam" xmlns:intf="http://ws.unir_tfm_rfam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.unir_tfm_rfam" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="usdToEur">
    <complexType>
     <sequence>
      <element name="usd" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="usdToEurResponse">
    <complexType>
     <sequence>
      <element name="usdToEurReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="usdToEurResponse">

      <wsdl:part element="impl:usdToEurResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usdToEurRequest">

      <wsdl:part element="impl:usdToEur" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeWS">

      <wsdl:operation name="usdToEur">

         <wsdl:input message="impl:usdToEurRequest" name="usdToEurRequest">

       </wsdl:input>

         <wsdl:output message="impl:usdToEurResponse" name="usdToEurResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeWSSoapBinding" type="impl:EmployeeWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="usdToEur">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usdToEurRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usdToEurResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeWSService">

      <wsdl:port binding="impl:EmployeeWSSoapBinding" name="EmployeeWS">

         <wsdlsoap:address location="http://localhost:8080/unir_tfm_rfam/services/EmployeeWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
